.container {
  margin-bottom: 15px;
  border-bottom: solid rgb(153, 153, 153);
  h1 {
    font-size: 60px;
    font-family: 'Mukta-Extra-Bold';
    color: #E8E8E8;
    line-height: 60px;
    margin: 10px 0;
    margin-bottom: 0;
  }
  h2 {
    margin: 0px;
    padding: 0;
    padding-bottom: 15px;
    font-size: 25px;
    color: #d1d1d1;
  }
}