.infoBar {
  height: 60px;
  // max-width: 80%;
  width: 100%;
  background: rgb(246,246,246);
  background: linear-gradient(0deg, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 92%, rgba(246,246,246,1) 100%);

  display: flex;
  flex-direction: row;
  align-self: center;
}

.infoBar span {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  color: rgb(80, 80, 80);
}

article {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.codeblock {
  background: rgb(247,247,247) !important;
  border: 1px solid rgb(228, 225, 225);
}
