.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes appear {
  from {transform: translate(-5000px);}
  to {transform: translate(0px);}
}

.rickroll {
  animation-name: appear;
  animation-duration: 4s;
}

.message {
  animation-name: appear;
  animation-duration: 6s;
  text-align: center;
}