.container {
  text-align: center;

  position: relative;
  width: 320px;
  margin-right: -320px;
  float: right;
  overflow: hidden;
  background: rgb(54,62,73);
  color: #eee;
  height: 100vh;

  -moz-box-shadow:    3px 0 5px 0 #555;
  -webkit-box-shadow: 3px 0 5px 0 #555;
  box-shadow:         3px 0 5px 0 #555;
}

@media only screen and (max-width: 768px) {
  .container {
    display: none;
  }
  // .content {
  //   margin-left: 0;
  // } // in app.module.scss
}