/* https://github.com/ckeditor/ckeditor5-image/blob/master/docs/features/image.md */
.image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 100%;
}

.image_resized {
  display: block;
  box-sizing: border-box;
}

.image_resized img {
  width: 100%;
}

.image_resized > figcaption {
  display: block;
}

.image-style-side {
	max-width: 50%;
	float: right;
	margin-left: var(--ck-image-style-spacing);
}
