body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

@font-face {
  font-family: "Mukta-Extra-Bold";
  src: local("Mukta-Extra-Bold"),
    url("./fonts/mukta/Mukta-ExtraBold.ttf");
  font-weight: bold;
}

.wrapper {
  float: right;
  width: 100%;
}

.content {
  margin-left: 320px;
  padding-left: 25px;
  padding-right: 10px;
  clear: both;
  overflow: auto;
  background: #fff;
  height: 100vh;
}

.sidebar {
  padding-left: 25px;
  position: relative;
  width: 320px;
  margin-right: -320px;
  float: right;
  overflow: hidden;
  background: rgb(54,62,73);
  color: #eee;
  height: 100vh;

  -moz-box-shadow:    3px 0 5px 0 #555;
  -webkit-box-shadow: 3px 0 5px 0 #555;
  box-shadow:         3px 0 5px 0 #555;
}

.activityIndicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: absolute;
  align-self: center;
  justify-self: center;
  background: rgba(4, 163, 255, 0.582);
  height: 100%;
  width: 100%;
  z-index: 100000;
  &::before {
    content: 'Please wait.';
    justify-self: flex-start;
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}