$green-dark:  #35c3c1;
$green-light: #00d6b7;
$gray:        #8f8f8f;
$gray-light:  #f5f6f8;

.container {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-size: 1.5em;

  .form {
    width: 100%;
    padding: 2em;
    position: relative;
    background: rgba(black, .15);
        
    @media screen and (min-width: 600px) {
      width: 50vw;
      max-width: 15em;
    }
  }
  
    .flexRow {
      display: flex;
      margin-bottom: 1em;
    }
    
    .label {
      width: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      
      background: $gray-light;
      cursor: pointer;
    }
    .input {
      flex: 1;
      padding: 1em;
      border: 0;
      color: $gray;
      font-size: 1rem;
    }
  
    .submit {
      display: block;
      padding: 1em;
      width: 100%;
      
      background: linear-gradient(
        to right,
        $green-dark,
        $green-light
      );
      border: 0;
      color: #fff;
      cursor: pointer;
      font-size: .75em;
      font-weight: 600;
      text-shadow: 0 1px 0 rgba(black, .2);
      
      &:focus {
        outline: none;
        transition: transform .15s ease;
        transform: scale(1.1);
      }
    }
}